<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='stilo.css') }}">
</head>
<body>
  <main>
    <h2>Lista de Livros</h2>

      <table>
        <thead>
          <tr>
              <th>Código</th>
              <th>Título</th>
              <th>Autor</th>
              <th>Ano de Publicação</th>
              <th>Ações</th>
          </tr>
        </thead>
        <tbody>
            {% for livro in livros %}
            <tr>
                <td>{{ livro[0] }}</td>
                <td>{{ livro[1] }}</td>
                <td>{{ livro[2] }}</td>
                <td>{{ livro[3] }}</td>
                <td>
                    <a href=" {{ url_for('editar', id=livro[0]) }}">Editar</a>
                    <form action="{{ url_for('deletar', id=livro[0]) }}" method="post">
                        <button type="subimit" name="deletar">Deletar</button>
                    </form>
                    <form action="{{ url_for('criar', id=livro[0]) }}" method="post">
                        <button type="subimit" name="criar">+</button>
                    </form>
                </td>

            </tr>
            {% endfor %}
        </tbody>
      </table>
  </main>
</body>
</html>